{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1 class="h1">Descarga de archivos</h1>
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <ul class="menu-list">
                        PDF <br>
                        {% for pdf in pdf_files %}
                        <label for="mp4" class="label">{{ pdf.filename }}</label>
                        <li><a class="button is-success" href="/download/{{ pdf.filename }}"><ion-icon name="cloud-download"></ion-icon></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <ul class="menu-list">
                        Videos <br>
                        {% for mp4 in mp4_files %}
                        <label for="mp4" class="label">{{ mp4.filename }}</label>
                        <li><a class="button is-success" href="/download/{{ mp4.filename }}">Descargar <ion-icon name="cloud-download"></ion-icon> </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}